In [7]:
#imports
from faker import Faker
import pandas as pd
from faker.providers.credit_card import Provider as CreditCardProvider

In [25]:
#Sets faker to norwegian language
faker = Faker(['no_NO'])
#Makes header for the table
df = pd.DataFrame(columns=['Navn', 'Adresse', 'PrsonNr', 'KredittKort', 'ipv4'])

#Prints out 100 people in the table
for x in range(0, 100):
    row = [faker.name(), faker.address(), faker.ssn(), faker.credit_card_number(), faker.ipv4()]
    df.loc[len(df)] = row

df

,Navn,Adresse,PrsonNr,KredittKort,ipv4
0,Magnus-Thor Jørgensen,"Eideskogen 58B, 6556 Ingridsund",12113543750,4599934910984813,77.192.193.162
1,Eli Amundsen,"Danielsenekra 4A, 9917 Nilsen",13069908912,6501780167441888,215.155.86.193
2,Espen Aas,"Mathisenstien 62F, 2079 Eliassen",15073737246,6597732610183596,95.56.117.212
3,Camilla Karlsen,"Evensenhavna 2A, 9720 Olsen",09105000879,4216026434140936690,142.41.239.2
4,Hege Moen,"Karlsenhøgda 4, 3920 Lailahamn",19015133514,3588283114194018,148.234.231.139
...,...,...,...,...,...
95,Jonas Tangen,"Bøebakken 5C, 9123 Torbjørndal",08079127435,4006022965413136566,25.169.230.87
96,Arild Nilsen,"Hauggrenda 3, 6031 Bakke",11040472004,377316392549080,35.170.107.0
97,Monica-Mari Mikkelsen,"Johansentunet 15, 9830 Iversen",25126630029,30295894048065,109.228.38.236
98,Grethe-Bjørg Lunde,"Christensenmarka 38D, 8093 Sveinhavn",24105534910,4486436001058,57.59.123.240
99,Sigurd-Pål Brekke,"Tangenstykket 7F, 5298 Elisestrand",16108231630,4607298245383640,52.180.123.176